$black: rgb(30, 30, 30);
$white: rgb(230, 230, 230);

@mixin type-color($mainColor, $secondaryColor) {
	background-color: $mainColor;
	color: $secondaryColor;
	border: 1px $secondaryColor solid;
	border-radius: 10px;
	padding: 3px 5px;
}

@mixin flexbox($rl, $dir) {
	display: flex;
	flex-wrap: wrap;
	justify-content: $rl;
	flex-direction: $dir;
}

@mixin border-img($color) {
	-webkit-filter: drop-shadow(2px 2px 0 $color) drop-shadow(-2px -2px 0 $color) drop-shadow(-2px 2px 0 $color)
		drop-shadow(2px -2px 0 $color);
	filter: drop-shadow(2px 2px 0 $color) drop-shadow(-2px -2px 0 $color) drop-shadow(-2px 2px 0 $color)
		drop-shadow(2px -2px 0 $color);
}

body {
	font-family: Tahoma;
	margin: 0;
}

nav {
	background-color: $black;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		margin: 0px 100px;

		li {
			padding: 10px;
			color: $white;
			display: inline-block;
			transition: all 0.2s;
			font-weight: bold;
		}

		li:hover {
			background-color: $white;
			color: $black;
		}
	}
}

a {
	text-decoration: none;
	color: $black;
}

.bag {
	display: flex;
	flex-direction: column;
	align-items: center;

	.bag-contents {
		margin: 20px auto;
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		width: 70vw;
		gap: 30px;

		.pokemon-card {
			width: 200px;
			height: 350px;
			border: 2px $black solid;
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 5px;

			.pokemon-name {
				margin: 0 auto;
			}
		}
	}
}

main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 16px;
	color: $black;

	.comp {
		display: flex;
		flex-direction: column;
		align-items: center;

		.header {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			width: 100vw;
			background-color: $black;
			box-shadow: 0px 5px 15px 15px rgba(30, 30, 30, 0.1);
			color: $white;
			margin-bottom: 30px;

			.type-name {
				padding: 50px;
			}

			h2 {
				font-size: 40px;
				margin: 0;
			}

			.pokemon-img {
				width: 170px;
				@include border-img($white);
			}
		}

		.pokemon-basics {
			width: 500px;
			margin: 0 auto;

			.pokemon-stats {
				margin-bottom: 20px;

				h2 {
					margin: 0;
				}
			}

			.pokemon-abilities {
				@include flexbox(space-around, column);
				h3 {
					margin: 20px 0 0 0;
					font-size: 24px;
				}

				.ability-container {
					margin: 0 0 10px 20px;
					padding: 2px;
					border: 1px $black solid;
					border-radius: 3px;
				}
			}
		}

		.pokemon-catch {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $black;
			color: white;
			padding: 25px;

			.pokeball-img {
				width: 70px;
				height: 70px;
				padding: 5px;
				cursor: pointer;
			}
		}
	}
}

.capitalize {
	text-transform: capitalize;
}

.damage-relations {
	width: fit-content;
	margin-inline: auto;

	.damage-relations-label {
		padding: 5px 30px 5px 5px;
		font-weight: bold;
	}
}

.pokemon-list {
	list-style-type: none;
	columns: 5;
	color: $black;
}

.field-label {
	font-weight: bold;
}

.pokemon-types-container {
	margin-top: 5px;
}

.pokemon-type {
	margin-left: 5px;
}

.pokemon-type-water {
	@include type-color(rgb(0, 105, 234), $white);
}

.pokemon-type-grass {
	@include type-color(rgb(36, 166, 0), $white);
}

.pokemon-type-fairy {
	@include type-color(rgb(249, 186, 255), $white);
}

.pokemon-type-steel {
	@include type-color(rgb(178, 178, 178), $black);
}

.pokemon-type-dark {
	@include type-color(rgb(115, 75, 1), $white);
}

.pokemon-type-dragon {
	@include type-color(rgb(64, 33, 178), $white);
}

.pokemon-type-ghost {
	@include type-color(rgb(76, 51, 91), $white);
}

.pokemon-type-rock {
	@include type-color(rgb(168, 126, 0), $white);
}

.pokemon-type-bug {
	@include type-color(rgb(172, 182, 25), $white);
}

.pokemon-type-psychic {
	@include type-color(rgb(255, 80, 115), $white);
}

.pokemon-type-flying {
	@include type-color(rgb(205, 167, 255), $white);
}

.pokemon-type-ground {
	@include type-color(rgb(255, 211, 123), $black);
}

.pokemon-type-poison {
	@include type-color(rgb(111, 1, 115), $white);
}

.pokemon-type-fighting {
	@include type-color(rgb(148, 21, 21), $white);
}

.pokemon-type-ice {
	@include type-color(rgb(193, 247, 255), $black);
}

.pokemon-type-electric {
	@include type-color(rgb(255, 215, 94), $black);
}

.pokemon-type-fire {
	@include type-color(rgb(255, 140, 0), $white);
}

.pokemon-type-normal {
	@include type-color(rgb(125, 117, 94), $white);
}

.search-bar-container {
	display: flex;
	justify-content: center;
	position: relative;
	padding: 20px;
	width: 100vw;
	background-color: $black;

	.search-bar {
		width: 40vw;
		height: 40px;
		text-indent: 20px;
		font-size: 16px;
		padding: 0;
		border: 0;
		outline: 1px $black solid;
		border-radius: 2px;
	}

	.search-results {
		position: absolute;
		top: 60px;
		width: 40vw;
		max-height: 400px;
		overflow: auto;
		padding: 0;
		margin: 0;
		background-color: $white;

		li {
			font-size: 16px;
			padding: 10px;
			text-indent: 20px;
		}

		li:hover {
			background-color: rgb(200, 200, 200);
			cursor: pointer;
		}
	}
}
